
{% extends 'app/main/base.html' %}
{% load static %}
{% block main %}
<!-- ======= main ======= -->
<main id="main" class="main">
    <section class="section section--about" id="about">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
            <polygon points="100 0 100 10 0 10" />
        </svg>
        <div class="section__inner">
            <div class="block">
                <a class="pre" href="#about">About</a>
                <h2>Welcome to IkSaan - The School of AI</h2>
                <p class="lead">The world has evolved at a speed that traditional teaching methods have failed to match. We believe there is a better way to education.

ikSaan uses AI and Machine Learning to match learners with instructors and personalized course materials. Our educators and support team would then use the data insights to inspire and engage students in their most personally relevant way.

Learning code should be a series of self-discoveries and aha-moments, and Preface is here to make this work for everyone with technology.
                </p>

            </div>
        </div>
    </section>

</main>
<!-- End #main -->
{% endblock main%}