{% extends 'app/base.html' %}
{%block title%}Signup{% endblock %}
{% load static %}
{% block main %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.nonfield_errors %}
                <p class="er"> {{error}} </p>
            {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" name="Submit">
    </form>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% endblock %}