{% extends 'app/base.html' %}
{%block title%}Signup{% endblock %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <h3>Gold subscription</h3>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Subscription</h5>
              <p class="small fst-italic">Gold</p>
              <h5 class="card-title">Profile Details</h5>
              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                <div class="col-lg-9 col-md-8">{{user.first_name}} {{user.last_name}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Date of Joined</div>
                <div class="col-lg-9 col-md-8">{{user.date_joined}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Last Login</div>
                <div class="col-lg-9 col-md-8">{{user.last_login}}</div>
              </div>                            
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">#</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{user.email}}</div>
              </div>
            </div>
            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Edit Form -->
            <form action="" method="post" novalidate>
            {% csrf_token %}
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                  <div class="col-md-8 col-lg-9">
                    <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile">
                    <div class="pt-2">
                      <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                      <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="first_name" type="text" class="form-control" id="first_Name" value="{{user.first_name}}">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="last_name" type="text" class="form-control" id="last_name" value="{{user.last_name}}">
                    </div>
                </div>

                <div class="row mb-3">
                  <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="email" type="email" class="form-control" id="email" value="{{user.email}}">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->
            </div>
          </div><!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

    <h3>Welcome {{name}}</h3>
    {% if users != None %}
    {%for user in users %}
    <a href="{% url 'user_details' user.id %}" >{{user.username}}</a> <br><br>
    {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}} </small>
        {% endfor %}
    {% endif %}
      
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.nonfield_errors %}
                <p> {{error}} </p>
            {% endfor %}
        {% endif %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" name="Submit1">
    </form>

    <a href="{% url 'changepass' %}">Change pssword</a>
    <a href="{% url 'changepass1' %}">Change pssword-wo</a>
    <a href="{% url 'logout' %}">Logout</a>
-->
{% endblock %}