{% extends 'app/base.html' %}
{%block title%}Signup{% endblock %}
{% load static %}
{% block main %}
    <h3>User Profile</h3>
    {% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}} </small>
    {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.nonfield_errors %}
                <p> {{error}} </p>
            {% endfor %}
        {% endif %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" name="Submit">
    </form>

    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
